
<form form #myForm="ngForm" style="text-align: left">


    <button *ngIf="!lostItem.foundStatus" type="submit" class="btn btn-default btn-lg" (click)="changeStatus()" style="width: 10em">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Change status</button> 

   <a routerLink="/lost">       
   <button type="delete" class="btn btn-default btn-lg" (click)="deleteThisLostItem()" style="width: 10em">
     <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>Delete lost item </button> 
   </a>

   <a routerLink="/lost" >
   <button type="button" class="btn btn-default btn-lg" style="width: 10em">
       <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button> </a>


   <h3>Lost item details:</h3>

<table style="width:50%" id = "personaldata">
       <colgroup>
           <col width="20%">
           <col width="60%">
       </colgroup>
       <tr>
         <th><label> Id: </label></th>
         <td> <input type="text" [(ngModel)]="lostItem.id" name="id" readonly onfocus="this.blur()"/> </td>
     </tr>
   <tr>
       <th><label> Name: </label></th>
       <td> <input type="text" [(ngModel)]="lostItem.name" name="name" readonly onfocus="this.blur()"/> </td>
   </tr>
   <tr>
       <th><label> Category: </label></th>
       <td> <input type="text" [(ngModel)]="lostItem.category" name="category" readonly onfocus="this.blur()"/> </td>
   </tr>
   <tr>
       <th><label> Color: </label></th>
       <td> <input type="text" [(ngModel)]="lostItem.color" name="color" readonly onfocus="this.blur()"/> </td>
   </tr>
   <tr>
       <th><label> Weight [gm]: </label></th>
       <td> <input type="text" [(ngModel)]="lostItem.weight_gm" name="weight_gm" readonly onfocus="this.blur()"/> </td>
   </tr>
   <tr>
       <th><label> Info: </label></th>
       <td> <input type="text" [(ngModel)]="lostItem.shortInfo" name="shortInfo" readonly onfocus="this.blur()"/> </td>
   </tr>

   <tr>
    <th><label> Photo: </label></th>
    <td><img src = {{lostItem.photoUrl}} style="width:10em"></td> 
</tr>
<tr>
    <th><label> User who lost: </label></th>
    <td> <input type="text" *ngIf="lostItem.userWhoLost" [(ngModel)]="lostItem.userWhoLost.shortName" name="userWhoLost" readonly onfocus="this.blur()"/> 
    </td>
</tr>

<tr>
    <th><label> Date when lost: </label></th>
    <td> <input type="datetime-local" [(ngModel)]="lostItem.dateWhenLost" name="dateWhenLost" readonly onfocus="this.blur()"/> </td>
</tr>

<tr>
    <th><label> Status if found: </label></th>
    <td> <input type="text" [(ngModel)]="lostItem.foundStatus" name="foundStatus" readonly onfocus="this.blur()"/> </td>
</tr>

<tr>
    <th><label> Date when found: </label></th>
    <td> <input type="datetime-local" *ngIf="lostItem.dateWhenFound" [(ngModel)]="lostItem.dateWhenFound" name="dateWhenFound" readonly onfocus="this.blur()"/> </td>
</tr>


</table>
</form>


