


<form form #myForm="ngForm" style="text-align: left">
         <button type="submit" class="btn btn-default btn-lg" (click)="submitForm(myForm)" style="width: 10em">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Save changes</button>

        <a routerLink="/users">       
        <button type="delete" class="btn btn-default btn-lg" (click)="deleteThisUser()" style="width: 10em">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>Delete user </button> 
        </a>

        <a routerLink="/users" >
        <button type="button" class="btn btn-default btn-lg" style="width: 10em">
            <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button> </a>


        <h3>User details:</h3>

    <table style="width:50%" id = "personaldata">
            <colgroup>
                <col width="20%">
                <col width="60%">
            </colgroup>
            <tr>
              <th><label> Id: </label></th>
              <td> <input type="text" [(ngModel)]="user.id" name="id" readonly onfocus="this.blur()"/> </td>
          </tr>
        <tr>
            <th><label> Name: </label></th>
            <td> <input type="text" [(ngModel)]="user.firstName" name="firstName" /> </td>
        </tr>
        <tr>
            <th><label> Surname: </label></th>
            <td> <input type="text" [(ngModel)]="user.lastName" name="lastName" /> </td>
        </tr>
        <tr>
            <th><label> Login: </label></th>
            <td> <input type="text" [(ngModel)]="user.shortName" name="shortName" /> </td>
        </tr>
        <tr>
            <th><label> email: </label></th>
            <td> <input type="text" [(ngModel)]="user.email" name="email" /> </td>
        </tr>
        <tr>
            <th><label> phone: </label></th>
            <td> <input type="text" [(ngModel)]="user.phone" name="phone" /> </td>
        </tr>


    </table>
</form>

    <h3> User's lost items </h3>

    <table id = "lostitemsofuser" class="table table-responsive table-hover" style="width:80%">
            <colgroup>
              <col width="10%">
              <col width="15%">
              <col width="15%">
              <col width="15%">
              <col width="30%">
              <col width="15%">
              </colgroup>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Color</th>
                    <th>Info</th>
                    <th>Found status</th>
                    <th> Photo</th>
                  </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let lostitem of lostItems, let i = index">
                          <td>{{i+1}}</td>
                          <td [innerHTML]= "lostitem.name"></td>
                          <td [innerHTML]= "lostitem.category"></td>
                          <td [innerHTML]= "lostitem.color"></td>
                          <td [innerHTML]= "lostitem.shortInfo"></td>
                          <td [innerHTML]= "lostitem.foundStatus"></td>
                          <td><img src = {{lostitem.photoUrl}} style="width:10em"></td>
                        </tr>
                </tbody>
        </table>

        <h3> User is owner of found items </h3>

        <table id = "owneroffounditems" class="table table-responsive table-hover" style="width:80%">
                <colgroup>
                  <col width="10%">
                  <col width="15%">
                  <col width="15%">
                  <col width="15%">
                  <col width="30%">
                  <col width="15%">
                  </colgroup>
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Color</th>
                        <th>Info</th>
                        <th>Returned status</th>
                        <th>Photo</th>
                      </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let founditem of foundItemsByOwner, let i = index">
                              <td>{{i+1}}</td>
                              <td [innerHTML]= "founditem.name"></td>
                              <td [innerHTML]= "founditem.category"></td>
                              <td [innerHTML]= "founditem.color"></td>
                              <td [innerHTML]= "founditem.shortInfo"></td>
                              <td [innerHTML]= "founditem.statusReturned"></td>
                              <td><img src = {{founditem.photoUrl}} style="width:10em"></td>
                            </tr>
                    </tbody>
            </table>

            <h3> User's wishlist </h3>

            <table id = "wishlistofuser" class="table table-responsive table-hover" style="width:80%">
                <colgroup>
                  <col width="10%">
                  <col width="15%">
                  <col width="30%">
                  <col width="30%">
                  <col width="15%">
                  </colgroup>
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Item's name</th>
                        <th>Date when added to wishlist</th>
                        <th>Ranking</th>
                        <th>Photo</th>
                      </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let wishlist of wishlistByUser, let i = index">
                              <td>{{i+1}}</td>
                              <td [innerHTML]= "wishlist.foundItem.name"></td>
                              <td [innerHTML]= "wishlist.dateWhenAddedToWishlist"></td>
                              <td><rating [(ngModel)]="wishlist.ranking" name = "starvalue" max=5 [readonly]="true"></rating></td>
                              <td><img src = {{wishlist.foundItem.photoUrl}} style="width:10em"></td>
                              <!-- <td [innerHTML]= "wishlist.foundItem.photoUrl"></td> -->
                            </tr>
                    </tbody>
            </table>







