input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #a8b6bf;
}

form input {
    border: 1px solid #a8b6bf;
    border-radius: 4px;
    background-color: transparent;
    font-size: small;
    font-weight: normal;
}

form label{
    font-weight: normal;
}

h4{
    font-weight: bold;
}

#edit {
    color: white;
    background-color: #6ed3cf;
}

#delete {
    color: white;
    background-color: #9068be;
}
