<div>
    <h3> List of Found items </h3>
    <button (click)="modal.open()"> Add new found item </button>
</div>


<table class="table table-responsive table-hover" style="width:80%">
    <colgroup>
        <col width="10%">
        <col width="15%">
        <col width="15%">
        <col width="25%">
        <col width="25%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
    </colgroup>
    <thead>
        <tr>
            <th>No</th>
            <th><Button (click)="sortByName(foundItems)"> Name </Button></th>
            <th><Button (click)="sortByCategory(foundItems)">Category</Button></th>
            <th><Button (click)="sortByInfo(foundItems)">Info</Button></th>
            <th><Button (click)="sortByStatus(foundItems)">Status returned</Button></th>
            <th>Photo </th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let founditem of foundItems, let i = index">
            <td>{{i+1}}</td>
            <td [innerHTML]="founditem.name"></td>
            <td [innerHTML]="founditem.category"></td>
            <td [innerHTML]="founditem.shortInfo"></td>
            <td [innerHTML]="founditem.statusReturned"></td>
            <td><img src= {{founditem.photoUrl}} style="width:10em"></td>
            <td>
                <a routerLink="/found/detail/{{founditem.id}}"> 
                <button id="edit" class="glyphicon glyphicon-pencil"></button>
                </a>
            </td>
            <td><button id="delete" class="glyphicon glyphicon-trash" (click) = "deleteFoundItem(founditem)"></button></td>
        </tr>
    </tbody>
    <router-outlet></router-outlet>
</table>



<modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
    <form form #myForm="ngForm" (ngSubmit)="submitForm(form)" style="text-align: left">
        <modal-header [show-close]="true" style="text-align: center">
            <h4 class="modal-title">Add a new found item</h4>
        </modal-header>
        <modal-body width="100%">

            <div class="form-group">
                <label> Name: <input type="text" size="100%" class="form-control" id="name" required
                                [(ngModel)]="foundItem.name" name="name" #name="ngModel"/> </label></div>
            <div *ngIf="name?.errors && (name?.dirty || name?.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">Name is required! </div>
            </div>
            <div> <label> Category: </label> <select class="form-control" id="category" required [(ngModel)]="foundItem.category"
                    name="category" #category="ngModel">
                                  <option *ngFor="let c of categories" [ngValue]="c" >{{c}}</option>
                                     </select></div>
            <div *ngIf="category?.errors && (category?.dirty || category?.touched)" class="alert alert-danger">
                <div [hidden]="!category.errors.required">Category is required! </div>
            </div>
            <div><label> Color: <input type="text" size="100%" class="form-control" id="color"
                                                [(ngModel)]="foundItem.color" name="color" #color="ngModel"/></label></div>
            <div *ngIf="color?.errors && (color?.dirty || color?.touched)" class="alert alert-danger">
                <div [hidden]="!color.errors.required">Color is required! </div>
            </div>
            <div><label> Weight [gm]: <input type="text" size="100%" class="form-control" id="weight_gm" required pattern="[0-9]*"
                                [(ngModel)]="foundItem.weight_gm" name="weight_gm" #weight_gm="ngModel"/></label></div>
            <div [hidden]="weight_gm.valid || weight_gm.pristine" class="alert alert-danger">
                <div [hidden]="!weight_gm.hasError('required')">Weight is required</div>
                <div [hidden]="!weight_gm.hasError('pattern')">Weight format should be only numbers </div>
            </div>
            <div><label> Info: <input type="text" size="100%" class="form-control" id="shortInfo" required  
                                [(ngModel)]="foundItem.shortInfo" name="shortInfo"  #shortInfo="ngModel"/></label></div>
            <div [hidden]="shortInfo.valid || shortInfo.pristine" class="alert alert-danger">
                <div [hidden]="!shortInfo.hasError('required')">Phone number is required</div>
            </div>
            <div><label> Photo url: <input type="text" size="100%" class="form-control" id="photoUrl" required  
                                [(ngModel)]="foundItem.photoUrl" name="photoUrl"  #photoUrl="ngModel"/></label></div>
            <div [hidden]="photoUrl.valid || photoUrl.pristine" class="alert alert-danger">
                <div [hidden]="!photoUrl.hasError('required')">Photo URL is required</div>
            </div>
            <div><label> Date when found: <input type="datetime-local" size="100%" class="form-control" id="dateWhenFound" required  
                [(ngModel)]="foundItem.dateWhenFound" name="dateWhenFound"  #dateWhenFound="ngModel"/></label></div>
            <div [hidden]="dateWhenFound.valid || dateWhenFound.pristine" class="alert alert-danger">
                <div [hidden]="!dateWhenFound.hasError('required')">Photo URL is required</div>
            </div>
        </modal-body>

        <modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="submitForm(myForm)" [disabled]="!myForm.form.valid" data-dismiss="modal">Save user</button>
        </modal-footer>
    </form>
</modal>