<table style="width:80%" id="foundItemWishlist">
    <colgroup>
        <col width="20%">
        <col width="30%">
        <col width="30%">
        <col width="30%">
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Info</th>
            <th>Ranking</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="foundItem">
            <td [innerHTML]="foundItem.name"></td>
            <td [innerHTML]="foundItem.shortInfo"></td>
            <td>
                <rating [(ngModel)]="rankingCount" name="rankingCount" max=5 [readonly]="true" showHalfStars="true"></rating>
            </td>
            <td><img src= {{foundItem.photoUrl}} style="width:10em"></td>

        </tr>
    </tbody>
</table>

<table class="table table-responsive table-hover" id="wishlist" style="width:80%">
    <colgroup>
        <col width="15%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="10%">
    </colgroup>
    <thead>
        <tr>
            <th>No</th>
            <th>User login</th>
            <th>Date added to wishlist</th>
            <th>Ranking</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wishlistE of wishlistArray , let i = index">
            <td>{{i+1}}</td>
            <td [innerHTML]="wishlistE.userInWishlist.shortName"></td>
            <td [innerHTML]="wishlistE.dateWhenAddedToWishlist"></td>
            <td>
                <rating [(ngModel)]="wishlistE.ranking" name="starvalue" max=5 [readonly]="true"></rating>
            </td>
            <td><button id="delete" (click)="deleteWishlist(wishlistE)"> delete </button> </td>

        </tr>
    </tbody>
    <router-outlet></router-outlet>
</table>

<button type="button" id="wishlistadd" class="btn btn-default btn-lg" style="width: 30em" (click)="modal.open()"> Add to wishlist </button>

<modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
    <form form #myForm="ngForm" (ngSubmit)="submitForm(form)" style="text-align: left">
        <modal-header [show-close]="true" style="text-align: center">
            <h4 class="modal-title">Add a new wishlist</h4>
        </modal-header>
        <modal-body width="100%">

            <div class="form-group">
               <div>   
                <label> Found item: </label>
                    <select [(ngModel)]="wishlist.foundItem" name="wfoundItem" #wfoundItem="ngModel" ><option *ngIf="foundItem" [ngValue]="foundItem">{{foundItem.id}}
                </option></select>
                    </div>
                <div> 
                    <label> User: </label><select class="form-control" id="userInWishlist" [(ngModel)]="wishlist.userInWishlist"
                    name="userInWishlist" #userInWishlist="ngModel" required>
                        <option *ngFor="let user of users" [ngValue]="user" >{{user.shortName}}</option>
                    </select>
                <div *ngIf="userInWishlist?.errors && (userInWishlist?.dirty || userInWishlist?.touched)" class="alert alert-danger">
                    <div [hidden]="!userInWishlist.errors.required">First name is required! </div>
                </div>
                </div>
                <div> <label> Ranking: </label> <rating type="text" size="100%" class="form-control" id="ranking" required minlength="1" maxlength="1" pattern="[0-5]*"
                    [(ngModel)]="wishlist.ranking" name="ranking" #ranking="ngModel" ></rating>
                <div *ngIf="ranking?.errors && (ranking?.dirty || ranking?.touched)" class="alert alert-danger">
                    <div [hidden]="!ranking.errors.required">Ranking is required! </div>
                    <div [hidden]="!ranking.hasError('pattern')">Only numbers from 0 to 5 are allowed</div>
                </div>
            </div>

            </div>
        </modal-body>

        <modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="submitForm(myForm)" [disabled]="!myForm.form.valid" data-dismiss="modal">Save wishlist</button>
        </modal-footer>
    </form>
</modal>