<h1>Welcome </h1>
<div class="alert alert-success" *ngIf="auth.authenticated()">You are logged in</div>
<div class="alert alert-danger" *ngIf="!auth.authenticated()">You are not logged in</div>

<section>
        <a routerLink="/users" *ngIf="auth.authenticated()"><button>USERS</button></a>
        <a routerLink="/found" *ngIf="auth.authenticated()"><button>FOUND ITEMS</button></a>
        <a routerLink="/lost" *ngIf="auth.authenticated()"> <button>LOST ITEMS</button></a>
</section>