<div>
<h3> List of Lost items </h3>
<button (click)="modal.open()"> Add new lost item </button>
</div>

<table id="lostItemTable" class="table table-responsive table-hover" style="width:80%">
        <colgroup>
            <col width="10%">
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="25%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>No</th>
                <th><Button (click)="sortByName(lostItems)"> Name </Button></th>
                <th><Button (click)="sortByCategory(lostItems)">Category</Button></th>
                <th><Button (click)="sortByInfo(lostItems)">Info</Button></th>
                <th><Button (click)="sortByStatus(lostItems)">Status found</Button></th>
                <th> Photo </th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lostitem of lostItems, let i = index">
                <td>{{i+1}}</td>
                <td [innerHTML]="lostitem.name"></td>
                <td [innerHTML]="lostitem.category"></td>
                <td [innerHTML]="lostitem.shortInfo"></td>
                <td [innerHTML]="lostitem.foundStatus"></td>
                <td><img src = {{lostitem.photoUrl}} style="width:10em"></td>
                <td>
                <a routerLink="/lost/detail/{{lostitem.id}}">  
                <button id = "edit" class="glyphicon glyphicon-pencil"></button></a></td> 
                <td><button id="delete" class="glyphicon glyphicon-trash" (click)="deleteLostItem(lostitem)"></button></td>
            </tr>
        </tbody>
        <router-outlet></router-outlet>
    </table>



    

<modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
        <form form #myForm="ngForm" (ngSubmit)="submitForm(form)" style="text-align: left">
            <modal-header [show-close]="true" style="text-align: center">
                <h4 class="modal-title">Add a new lost item</h4>
            </modal-header>
            <modal-body width="100%">
    
                <div class="form-group">
                    <label> Name: <input type="text" size="100%" class="form-control" id="name" required
                    [(ngModel)]="lostItem.name" name="name" #name="ngModel"/> </label></div>
                <div *ngIf="name?.errors && (name?.dirty || name?.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">Name is required! </div>
                    </div>
                <div> <label> Category: </label> <select class="form-control" id="category" required
                    [(ngModel)]="lostItem.category" name="category" #category="ngModel">
                      <option *ngFor="let c of categories" [ngValue]="c" >{{c}}</option>
                         </select></div>
                 <div *ngIf="category?.errors && (category?.dirty || category?.touched)" class="alert alert-danger">
                    <div [hidden]="!category.errors.required">Category is required! </div>
                </div>
                <div><label> Color: <input type="text" size="100%" class="form-control" id="color"
                                    [(ngModel)]="lostItem.color" name="color" #color="ngModel"/></label></div>
                <div *ngIf="color?.errors && (color?.dirty || color?.touched)" class="alert alert-danger">
                    <div [hidden]="!color.errors.required">Color is required! </div>
                </div>
                <div><label> Weight [gm]: <input type="text" size="100%" class="form-control" id="weight_gm" required pattern="[0-9]*"
                    [(ngModel)]="lostItem.weight_gm" name="weight_gm" #weight_gm="ngModel"/></label></div>
                <div [hidden]="weight_gm.valid || weight_gm.pristine" class="alert alert-danger">
                    <div [hidden]="!weight_gm.hasError('required')">Weight is required</div>
                    <div [hidden]="!weight_gm.hasError('pattern')">Weight format should be only numbers </div>
                 </div>              
                <div><label> Info: <input type="text" size="100%" class="form-control" id="shortInfo" required  
                    [(ngModel)]="lostItem.shortInfo" name="shortInfo"  #shortInfo="ngModel"/></label></div>
                    <div [hidden]="shortInfo.valid || shortInfo.pristine" class="alert alert-danger">
                    <div [hidden]="!shortInfo.hasError('required')">Phone number is required</div>
                </div>
                <div><label> Photo url: <input type="text" size="100%" class="form-control" id="photoUrl" required  
                    [(ngModel)]="lostItem.photoUrl" name="photoUrl"  #photoUrl="ngModel"/></label></div>
                    <div [hidden]="photoUrl.valid || photoUrl.pristine" class="alert alert-danger">
                    <div [hidden]="!photoUrl.hasError('required')">Photo URL is required</div>
                </div>
                <div><label> User who lost: </label><select class="form-control" id="userWhoLost" required
                    [(ngModel)]="lostItem.userWhoLost" name="userWhoLost" #userWhoLost="ngModel">
                      <option *ngFor="let user of users" [ngValue]="user" >{{user.shortName}}</option>
                         </select></div>
                 <div *ngIf="userWhoLost?.errors && (userWhoLost?.dirty || userWhoLost?.touched)" class="alert alert-danger">
                    <div [hidden]="!userWhoLost.errors.required">User is required! </div>
                </div>
                <div><label> Date  when lost: <input type="datetime-local" size="100%" class="form-control" id="dateWhenLost" required  
                    [(ngModel)]="lostItem.dateWhenLost" name="dateWhenLost"  #dateWhenLost="ngModel"/></label></div>
                    <div [hidden]="dateWhenLost.valid || dateWhenLost.pristine" class="alert alert-danger">
                    <div [hidden]="!dateWhenLost.hasError('required')">Date is required</div>
                </div>
            </modal-body>
    
            <modal-footer>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="submitForm(myForm)" [disabled]="!myForm.form.valid" data-dismiss="modal">Save user</button>
            </modal-footer>
        </form>
    </modal>