<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="http://www.janetlostandfound.com/wp-content/uploads/2014/12/Lost_Found_logo.png" id="logo" style="width:24em; height:4em;" />
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/users" *ngIf="auth.authenticated()">Users</a></li>
        <li><a routerLink="/found" *ngIf="auth.authenticated()">Found Items</a></li>
        <li><a routerLink="/lost" *ngIf="auth.authenticated()">Lost Items</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</a></li>
        <li><a routerLink="/profile" *ngIf="auth.authenticated()">Profile</a></li>
        <li><a href="#" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div><!-- /.container -->