<div class="row">
    <div class="col-md-2">
            <div class="circleborder">
        <img class="img-circle" style="width:100%" src="http://interactives.dallasnews.com/2015/lost-found/images/lostfound-icon.png">
            </div>
     </div>
     <div class="col-md-10">
         <h1>{{profile.nickname}}'s profile</h1>
         <p>Email: {{profile.name}}</p>
         <p>Last Update: {{profile.created_at}}</p>
     </div>    
</div>