h4{
    font-weight: bold;
}

div {
   color:#607D8B;
   font-size: large;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #a8b6bf;
}

form input {
    border: 1px solid #a8b6bf;
    border-radius: 4px;
    background-color: transparent;
    font-size: small;
    font-weight: normal;
}

form label{
    font-weight: normal;
}

input {
    width: 100%;
}

table {
    margin-top: 2em;
    
}

th, td {
    border-bottom: 1px solid #a8b6bf;
    font-size: medium;
}

#add{
    background-color: #edd9c0;
}

#edit {
    color: white;
    background-color: #6ed3cf;
}

#delete {
    color: white;
    background-color: #9068be;
}

