<div class="container" role="main">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">Find user</div>
                <div class="col-sm-6">Add a new user</div>
            </div>
            <div class="row">
                <div class="col-sm-6"><input type="text" [(ngModel)]="name"></div>
                <div class="col-sm-6"> <button id="add" class="glyphicon glyphicon-plus" (click)="modal.open()">
                  </button> </div>
            </div>
        </div>
    </div>
</div>


<table class="table table-responsive table-hover" style="width:80%">
    <colgroup>
        <col width="10%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="10%">
        <col width="10%">
    </colgroup>
    <thead>
        <tr>
            <th>No</th>
            <th>Login</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Details</th>
            <th>Delete </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | usersNameFilter:name, let i = index">
            <td>{{i+1}}</td>
            <td [innerHTML]="user.shortName"></td>
            <td [innerHTML]="user.firstName"></td>
            <td [innerHTML]="user.lastName"></td>
            <td>
                <a routerLink="/users/detail/{{user.id}}">                      
                    <button id = "edit" class="glyphicon glyphicon-pencil"></button> </a> </td>
            <td><button id="delete" class="glyphicon glyphicon-trash" (click)="deleteUser(user)"></button></td>
        </tr>
    </tbody>
    <router-outlet></router-outlet>
</table>



<modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
    <form form #myForm="ngForm" (ngSubmit)="submitForm(form)" style="text-align: left">
        <modal-header [show-close]="true" style="text-align: center">
            <h4 class="modal-title">Add a new user</h4>
        </modal-header>
        <modal-body width="100%">

            <div class="form-group">
                <label> Name: <input type="text" size="100%" class="form-control" id="firstName" required minlength="3" pattern="[a-zA-Z][a-zA-Z ]+" 
                [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel"/> </label></div>
            <div *ngIf="firstName?.errors && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                <div [hidden]="!firstName.errors.required">First name is required! </div>
                <div [hidden]="!firstName.errors.minlength">Name must be at least 3 characters long</div>
                <div [hidden]="!firstName.hasError('pattern')">Only alphabet is allowed</div>
            </div>
            <div> <label> Surname: <input type="text" size="100%" class="form-control" id="lastName" required minlength="3" pattern="[a-zA-Z][a-zA-Z ]+"
                [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" /></label></div>
            <div *ngIf="lastName?.errors && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
                <div [hidden]="!lastName.errors.required">Surname name is required! </div>
                <div [hidden]="!lastName.errors.minlength">Name must be at least 3 characters long</div>
                <div [hidden]="!lastName.hasError('pattern')">Only alphabet is allowed</div>
            </div>
            <div><label> Login: <input type="text" size="100%" class="form-control" id="shortName" required minlength="3" 
                                [(ngModel)]="user.shortName" name="shortName" #shortName="ngModel"/></label></div>
            <div *ngIf="shortName?.errors && (shortName?.dirty || shortName?.touched)" class="alert alert-danger">
                <div [hidden]="!shortName.errors.required">Login is required! </div>
                <div [hidden]="!shortName.errors.minlength">Login must be at least 3 characters long</div>
            </div>
            <div><label> email: <input type="text" size="100%" class="form-control" id="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                [(ngModel)]="user.email" name="email" #email="ngModel"/></label></div>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div [hidden]="!email.hasError('required')">Email is required</div>
                <div [hidden]="!email.hasError('pattern')">Email format should be for example <small><b>joe@abc.com</b></small></div>
             </div>              
            <div><label> phone: <input type="text" size="100%" class="form-control" id="phone" required pattern="[0-9]*" minlength="10" maxlength="10" 
                [(ngModel)]="user.phone" name="phone"  #phone="ngModel"/></label></div>
                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                <div [hidden]="!phone.hasError('minlength')">Phone number should be 10digit</div>
                <div [hidden]="!phone.hasError('required')">Phone number is required</div>
                <div [hidden]="!phone.hasError('pattern')">Phone number should be only numbers</div>
             </div>
        </modal-body>

        <modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="submitForm(myForm)" [disabled]="!myForm.form.valid" data-dismiss="modal">Save user</button>
        </modal-footer>
    </form>
</modal>