input {
    width: 20em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #a8b6bf;
}

button {
    font-family: Tahoma, Geneva, sans-serif; 
    background-color: #b56969;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    color: #607D8B;
    margin-left: 2em;
}


form label{
    font-weight: normal;
}

h4{
    font-weight: bold;
}


#delete {
    color: white;
    background-color: #9068be;
}

#wishlist{
    margin-top: 2em;
}
