
<form form #myForm="ngForm" style="text-align: left">
        
        <button *ngIf="!foundItem.dateWhenOwnerFound" type="submit" class="btn btn-default btn-lg" (click)="setUser()" style="width: 10em">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Save owner</button> 
        <button *ngIf="!foundItem.statusReturned" type="submit" class="btn btn-default btn-lg" (click)="changeStatus()" style="width: 10em">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Change status</button> 


           <a routerLink="/found">       
           <button type="delete" class="btn btn-default btn-lg" (click)="deleteThisLostItem()" style="width: 10em">
             <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>Delete found item </button> 
           </a>
        
           <a routerLink="/found" >
           <button type="button" class="btn btn-default btn-lg" style="width: 10em">
               <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button> </a>
        
        
           <h3>Found item details:</h3>
        
        <table style="width:50%" id = "personaldata">
               <colgroup>
                   <col width="20%">
                   <col width="60%">
               </colgroup>
               <tr>
                 <th><label> Id: </label></th>
                 <td> <input type="text" [(ngModel)]="foundItem.id" name="id" readonly onfocus="this.blur()"/> </td>
             </tr>
           <tr>
               <th><label> Name: </label></th>
               <td> <input type="text" [(ngModel)]="foundItem.name" name="name" readonly onfocus="this.blur()"/> </td>
           </tr>
           <tr>
               <th><label> Category: </label></th>
               <td> <input type="text" [(ngModel)]="foundItem.category" name="category" readonly onfocus="this.blur()"/> </td>
           </tr>
           <tr>
               <th><label> Color: </label></th>
               <td> <input type="text" [(ngModel)]="foundItem.color" name="color" readonly onfocus="this.blur()"/> </td>
           </tr>
           <tr>
               <th><label> Weight [gm]: </label></th>
               <td> <input type="text" [(ngModel)]="foundItem.weight_gm" name="weight_gm" readonly onfocus="this.blur()"/> </td>
           </tr>
           <tr>
               <th><label> Info: </label></th>
               <td> <input type="text" [(ngModel)]="foundItem.shortInfo" name="shortInfo" readonly onfocus="this.blur()"/> </td>
           </tr>
        
           <tr>
            <th><label> Photo: </label></th>
            <td><img src = {{foundItem.photoUrl}} style="width:10em"></td> 
        </tr>
        <tr>
            <th><label> Date when found: </label></th>
            <td> <input type="datetime-local" [(ngModel)]="foundItem.dateWhenFound" name="dateWhenFound" readonly onfocus="this.blur()"/> </td>
        </tr>
        <tr>
            <th><label> Owner: </label></th>
            <td *ngIf="!foundItem.owner"><select class="form-control" id="owner" 
                [(ngModel)]="foundItem.owner" name="owner" #owner="ngModel">
                  <option *ngFor="let user of users" [ngValue]="user" >{{user.shortName}}</option>
                     </select>
            </td>
            <td *ngIf="foundItem.owner"> 
                <input type="text" [(ngModel)]="foundItem.owner.shortName" name="owner" readonly onfocus="this.blur()"/>
            </td>
        </tr>
        <tr>
            <th><label> Date when owner found: </label></th>
            <td> <input type="datetime-local" [(ngModel)]="foundItem.dateWhenOwnerFound" name="dateWhenOwnerFound" readonly onfocus="this.blur()"/> </td>
        </tr>
        
        <tr>
            <th><label> Status if returned: </label></th>
            <td> <input type="text" [(ngModel)]="foundItem.statusReturned" name="statusReturned" /> </td>
        </tr>
        
 
        <tr>
            <th><label> Returned to user: </label></th>
            <td> <input type="text" *ngIf="foundItem.returnedToUser" [(ngModel)]="foundItem.returnedToUser.shortName" name="returnedToUser" /> 
            </td>
        </tr>

        <tr>
            <th><label> Date when returned: </label></th>
            <td> <input type="datetime-local" *ngIf="foundItem.dateWhenReturned" [(ngModel)]="foundItem.dateWhenReturned" name="dateWhenFound" readonly onfocus="this.blur()"/> </td>
        </tr>
        
        </table>
        <a routerLink="/wishlist/{{foundItem.id}}">
        <button  type="button" id= "wishlist" class="btn btn-default btn-lg" style="width: 30em"> WISHLIST </button> 
        </a>

        </form>
        
